<br>
<div class="list_post" ng-controller="pagesCtr">
	
	<br>
	<h1>List pages</h1>
	<table class="table table-condensed">
		<tr>
			<th>Title</th>
			<th>Action</th>

		</tr>
		<tr ng-repeat="x in pages">
		<td><a href="/pages/read/[{x._id}]">[{x.title}]</a></td>
			<td><a class="btn btn-info btn-xs" href="/pages/insert?id=[{x._id}]"><span class="glyphicon glyphicon-edit"></span></a>

				

			</td>

		</tr>
	</table>


</div>
