<div class="container" ng-controller="kwordsCtr">
	<div class="row">
		<div class="col-md-12">
			<h1>Keyword</h1>
			<div ng-controller="kwordsCtr">
				<h1>List search keywords</h1>

				<table class="table table-bordered">
					<tr>

						<th>Name</th>
						
						<th>Delete</th>
					</tr>
					<tr  dir-paginate="x in kwords  | itemsPerPage: 20">
						<td>[{ x.name }]</td>
						
						<td><button ng-click="delete(x._id)" class="btn btn-danger">Delete</button></td>

					</tr>
				</table>
				<dir-pagination-controls
				max-size="5"
				direction-links="true"
				boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>
</div>
</div>