<div class="container" ng-controller="kwordsCtr">
	<div class="row">
		<div class="col-md-12">
		
			<div ng-controller="kwordsCtr">
				<h4>List search keywords</h4>

				<table class="table table-bordered">
					<tr>

						<th>Name</th>
						
						<th>Delete</th>
					</tr>
					<tr  dir-paginate="x in kwords  | itemsPerPage: 20">
						<td>[{ x.name }]</td>
						
						<td><button ng-click="delete(x._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></td>

					</tr>
				</table>
				<dir-pagination-controls
				max-size="5"
				direction-links="true"
				boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>
</div>
</div>