<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Hello Admin</h1>
      <p>Click the link on the left to manage your website.</p>
      
    </div>
  </div>
</div>

