
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLanguage"> <span class="glyphicon glyphicon-menu-left"></span>

        {{#is lang "en"}} <span class="flag-icon flag-icon-us"></span>{{/is}}
        {{#is lang "vi"}} <span class="flag-icon flag-icon-vn"></span>{{/is}}
        {{#is lang "ko"}} <span class="flag-icon flag-icon-kr"></span>{{/is}}
        {{#is lang "zh"}} <span class="flag-icon flag-icon-cn"></span>{{/is}}
 </button><br>