
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLanguage"> 

        {{#is lang "en"}} <span class="flag-icon flag-icon-us"></span> USA{{/is}}
        {{#is lang "vi"}} <span class="flag-icon flag-icon-vn"></span> Việt Nam{{/is}}
        {{#is lang "ko"}} <span class="flag-icon flag-icon-kr"></span> 한국{{/is}}
        {{#is lang "zh"}} <span class="flag-icon flag-icon-cn"></span> 中国{{/is}}
 </button><br>