<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
 <link rel="icon" type="images/png" sizes="32x32" href="/images/favicon-32x32.png">
    <title>{{title}}</title>
     <meta name="description" content="Winner668 soccer tips for everyone!">
  
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:url" content="http://winner668.net/" />
  <meta property="og:description" content="Winner668 soccer tips for everyone!" />
  <meta property="og:image:width" content="640"/> 
  <meta property="og:image:height" content="442"/>
  <meta property="og:image:type" content="image/jpeg" /> 
  <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/soccer102/img4ds53.jpg" />
</head>
<body>

<div class="mywelcome">


    {{{body}}}


 </div>

</body>
</html>