<br>
<div class="list_post" ng-controller="winCtr">
	<a class="btn btn-success" href="/info/insert">+Edit</a>
	<br>
	<h1>Site info</h1>
	<table class="table table-condensed">
		<tr>
			<th>Phone</th>
			<td>{{site.phone}}</td>
		</tr>
		
		<tr>
			<th>Facebook</th>
			<td>{{site.facebook}}</td>
		</tr>
		


	</table>


</div>
