.about{
		background-image: url("https://s3-ap-southeast-1.amazonaws.com/soccer102/about-bg-2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 700px;

	// this help center image
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	 filter: grayscale(100%); /* Current draft standard */
	  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	  h1{
	  	color: white;
	  }

	.container{


		color: white;
		padding-top: 100px;
		
	
	}


}