$footer-color: #333333;
.footer{
 
        .navbar-brand{
            text-align: center;
        }
    
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    border-top: 2px solid orange;
    background-color: $footer-color;
    a{
    	color: white;
    }
    ul{
    	list-style-type: none;
    	
    }
    hr{
         display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lighten($footer-color,5%);
    margin: 1em 0;
    padding: 0; 
    }

}
.b_logo img{
    
     height:150px;
}