.navbar-default {
    background-color: black;
   
    border-color: white;
    a{
        color: white;
    }

}
.container>.navbar-header {

    min-height: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-toggle {
   
    background-color: white;
   
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar {
    border-radius:0px;
    margin-bottom: 0px;
}
// active
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: yellow;
    background-color: black;
}
// hover
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    
    color: red;
}
// remove border: 
.navbar {

    border: none;
    border-bottom: solid 5px red;
}
.top-header{
	color: white;
	background-color: black;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: -35px;
    img{
    	padding-right: 5px;
    }
}
.contact{
	padding-right: 0px;
    a{
        color: white;
    }
}
@media (min-width: 768px){
    .navbar-right {
    float: right!important;
    margin-right: -45px;
}
}

