 .youtube_sort{
     padding:6px 10px 6px 20px;
    //border:1px solid red;

    // .radio-inline{
    // 	padding: 6px 10px 6px 20px;
    // 	// border:1px solid #ccc;
    // 	border-radius:3px;
    // 	 //background-color: white;
    	
    // }
   
    ul{
    	 display:inline;
    	li{
    		 display:inline;
    		 margin-left:10px;
    		 cursor: pointer;
    		
    	}
    	a:hover{

    	}
    	.active{
    			border-bottom:1px solid #4264ba;
    	}


    }
  }
   .nav-tabs{
    	
    	margin-right: 0px;
    }