.mywelcome{
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/soccer102/bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	// this help center image
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	.my-center{
		background: black;
		opacity: 0.6;
		padding-top: 50px;
		padding-bottom: 50px;
		color: white;
	}


}