/*remove border in navbar*/
.navbar {
    border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
ul li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf; 
}
/*pull right md, lg*/


 @media (max-width: 767px){
.pull-right-lg {
  float: left !important;
}
}

img{
	max-width: 100%;

}