 



   <!-- Change gender -->

   <ul class="list-group list-inline" ng-hide="changeGender.isEditForm">
       <li class="list-group-item">Gender</li> 
       <li class="list-group-item"> {{changeGender.gender | gender}}</li>
       <li class="list-group-item"><a href="" ng-click="changeGender.isEditForm = true;"><span class="glyphicon glyphicon-edit"></span></a></li>
   </ul>

   <div ng-show="changeGender.isEditForm">
      <th>Gender</th>
      <form>
        <td>
           <label class="radio-inline">
            <input type="radio" ng-model="changeGender.gender" value="m">Man
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="changeGender.gender" value="w">Woman
        </label>
    </td>
    <td>
     <button class="btn btn-success" type="submit" ng-click="changeGender.submit(changeGender.gender)">Submit</button>
     <button class="btn btn-default" type="submit" ng-click="changeGender.isEditForm = false;">Cancel</button>
 </td>
</form>
</div>




<!-- end change gender -->


 