<div class="container contact-list" ng-controller="contactList">
	<div class="row">
		<div class="col-md-12">
			<h1>Contact ([{list.length}])</h1>
			<a href="#" ng-click="deleteArray()" class="btn btn-danger">Delete</a>
			<ul  dir-paginate="x in list  | itemsPerPage: 5">
				<li> 
					<div class="row">
						<div class="col-md-12">
							<input type="checkbox" ng-model="ids" value="x._id"> [{ x.email || 'No Email' }] | [{x.date | date }] <button ng-click="delete(x._id)" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></button><br><br>
							<pre>[{ x.message }]</pre>
						</div>
					</div>
				</li>
			</ul>
			<dir-pagination-controls
			max-size="5"
			direction-links="true"
			boundary-links="true">
		</dir-pagination-controls>
		
	</div>
</div>
</div>