<div class="container contact-list" ng-controller="contactList">
	<div class="row">
		<div class="col-md-12">
			<br>
			<div ng-show="contact.ids.length">
				<a class="btn btn-danger btn-xs" href="#" ng-click="deleteArray(contact.ids)"><span class="glyphicon glyphicon-trash"></span> ([{contact.ids.length}])</a>
				<br><br>
				
				{{!-- change status --}}
				<form ng-submit="changeStatus(status)" >
					<label class="radio-inline">
						<input type="radio" name="optradio" ng-model="status" value="Pending">Pending
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio" ng-model="status" value="Solve">Solve
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio" ng-model="status" value="Reference">Reference
					</label><br>
					<button type="submit" class="btn btn-success btn-xs">Change Status</button>
				</form>
				{{!-- delete --}}


			</div>



		</div>


	</div>
	<h3>Contact ([{list.length}])</h3>
	{{!-- Choose perpage --}}

	<div class="row">
		<div class="col-md-4">
			Show <select ng-model="perPage" ng-init="perPage=5" ng-options="x for x in listPerPage"></select><br><br>
		</div>
		<div class="col-md-4">
			Query  <select ng-model="pickQuery" ng-options="x.value for x in listQuery track by x.id">
			</select><br><br>
		</div>
		<div class="col-md-4">
			<div class="pull-right-lg pull-right">Sort by  
				<select ng-model="pickSort" ng-options="x.value for x in listSort track by x.id">
				</select>
			</div>
		</div>
	</div>
	<hr>
	<ul  dir-paginate="x in list | itemsPerPage: perPage">
		<li> 
			<div class="row">
				<div class="col-md-12">
					<p class="pull-right">[{x.status}] </p>
					<input type="checkbox" checklist-model="contact.ids" checklist-value="x._id"> [{ x.email || 'No Email' }]

					<br>

					<span class="small"><i> [{x.date | date : "medium" }]</i> </span><a href="" ng-click="delete(x._id)"><span class="glyphicon glyphicon-trash"></span></a>
					<pre>[{ x.message }]</pre>
				</div>
			</div>
		</li>
	</ul>
	<dir-pagination-controls
	max-size="5"
	direction-links="true"
	boundary-links="true">
</dir-pagination-controls>
</div>
</div>
</div>