<div class="container-fluid my-center">
<div class="row">
<div class="col-md-12">
<div class="text-center">
	<h1>Welcome</h1>
	<p class="lead">To enter, you must be above 18 years old.</p>
	<p>By entering this website, </p>
	<p>you accept the <a href="/terms-and-conditions"> Terms & Conditions </a> and <a href="/privacy-policy"> Privacy Policy</a></p>
	<a class="btn btn-success" href="/home">Yes, I'm 18</a>
	<a class="btn btn-default" href="{{site.facebook}}">No, exit.</a>
</div>
</div>
</div>
</div>