<div class="container">

	<div class="row">

		<div class="col-md-12">
		<br>
		{{!-- <a class="btn btn-info" href="/download/delete">Delete all</a> --}}
		<p class="text-muted">All files will be auto delete after 1 hour.
		</p>
			<h1>List Downlaods MP3</h1>
			
			<ul>
				{{#each arr3}}
				<li><a target="_blank" href="/downloads/mp3/{{this}}">{{this}}</a></li>
				{{/each}}
			</ul>
			
			
			<h1>List Downlaods MP4</h1>
			<ul>
				{{#each arr4}}
				<li><a target="_blank" href="/downloads/mp4/{{this}}">{{this}}</a></li>
				{{/each}}
			</ul>
		</div>

	</div>

</div>