<h3>List Ads</h3>
<a href="/contents/insert"><button class="btn btn-success">Insert</button></a>
<div id="myerror"></div>

<hr>
<span class="small">Title | Code</span>
<ul>
	{{#each data}}
	<li>
		{{this.name}} |
		{{this.code}} |
		<a class="btn btn-xs btn-success" href="/contents/insert?id={{this._id}}"> <span class="glyphicon glyphicon-pencil"></span></a>
		<br><br>
		 {{{this.content}}}
		
	</li>
	
	{{/each}}
</ul>

