

<div class="container" ng-controller="guessCtr">
    <div class="col-md-4 col-md-offset-4">
    <br><br>
        
        {{loginMessage}}
    <div ng-bind-html="myMessage"></div>
<form name="loginform" action="/guess/login_validation" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" ng-model="myLogin.email"z required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="password" ng-model="myLogin.password" required>
  </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>  
</div> 


     