
<div class="container" ng-controller="guessCtr">
    <div class="col-md-4 col-md-offset-4">

        <div ng-bind-html="register.myWelcome"></div>

        <h1>Sign up</h1>
        <div id="myerror"></div>
        <form name="formRegister">
            <div id="register_result"></div>
            <div class="form-group">
                <label for="Text">Email:</label>
                <input type="email" class="form-control" ng-model="register.email" required="required">
            </div>
            <div class="form-group">
                <label for="Text">Name:</label>
                <input type="name" class="form-control"  ng-model="register.name" required="required">
            </div>
       
           
           
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" ng-model="register.password" required="required">
            </div>
            <div class="form-group">
                <label for="Password">Confirm Password:</label>
                <input type="password" class="form-control" ng-model="register.confirm_password" required="required">
            </div>

            <button type="submit" ng-click="formRegister.$valid && registerSubmit(register)" class="btn btn-success">Submit</button>
        </form>

    </div>
</div>


