
<div ng-cloak class="container" ng-controller="playctr">
	<div class="row">
		<div class="col-md-9">
			<h1><strong>404 Not found</strong></h1>
			<p>
			Your url not correct.
			</p>
			

		</div>
		<div class="col-md-3">
			<br>
			<div class="fb-page" data-href="https://www.facebook.com/videodown.cc/" data-tabs="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/videodown.cc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/videodown.cc/">videodown.cc</a></blockquote></div>
			<br>
			<!--add-->
			{{{ads.square.content}}}
		</div>
	</div>
</div>
